################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*/.vscode/* 
*/bin/*
*/obj/*
*/.env

.dtbcache.v2


