################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/v16/.suo
/ConsoleApp1/ConsoleApp1/obj/Debug/netcoreapp3.1
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/ConsoleApp1/bin/Debug/netcoreapp3.1
/.vs
